.header{
    background: url(../IMG/fondoheader.jpg);
    height: 150px;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.header h1{
    color: #F5F5F5;
    font-size: 40px;
    padding-left: 30px;
}

.header a{
    color: #F5F5F5;
    text-decoration: none;
    font-size: 20px;
    align-items: flex-start;
    padding-top: 35px;
    padding-right: 30px;
}

.header a:hover{
    color: aqua;
}

body{
    font-family: 'Trispace', sans-serif;
}